

.containerSearch {
    height: 60px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 7px 3px 36px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 7px 3px 36px 0px rgba(66, 68, 90, 1);
    box-shadow: 7px 3px 36px 0px rgba(66, 68, 90, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 10px;
    position: relative;
    bottom: 30px;
    width: 100%;
    margin: auto;
    max-width: 1024px;
}

.containerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;

}

.containerSearchInput {
    border: none;
    outline: none;


}

.containerSearchText {
    color: lightgrey;
    cursor: pointer;
}

.cointainerIcon {
    color: lightgrey;
    margin-left: -32px;
}

.date {
    position: absolute;
    top: 52px;
    margin-left: -34px;
    z-index: 2;
}

.btn.btn-primary {
    margin-right: -44px;
    height: 60px;
    width: 110px;
}

.options {
    position: absolute;
    width: 160px;
    top: 53px;
    background-color: white;
    color: black;
    z-index: 2;
    border-radius: 5px;
    -webkit-box-shadow: 7px 3px 36px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 7px 3px 36px 0px rgba(66, 68, 90, 1);
    box-shadow: 7px 3px 36px 0px rgba(66, 68, 90, 1);
}


.optionText {
    margin-top: 3px;
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    z-index: 2;
}

.optionCounter {
    width: 200px;
    gap: 20px;
    align-items: center;
    font-size: 13px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(107, 143, 221);
    margin-left: 10px;
    margin-right: 10px;
}

.checkboxes {
    color: rgb(19, 18, 18);
    top: 55px;
    position: absolute;
    background-color: white;
    z-index: 2;
    width: 150px;
    border-radius: 5px;
    -webkit-box-shadow: 7px 3px 36px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 7px 3px 36px 0px rgba(66, 68, 90, 1);
    box-shadow: 7px 3px 36px 0px rgba(66, 68, 90, 1);
}

.checkbox {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
}