nav{
    top:0;
    box-shadow: 0px 13px 24px 0px rgba(0,0,0,0.08);
    padding-top: .5rem;
    padding-bottom: .5rem;
}
nav .navbar-collapse.collapse{
    display:flex;
}

nav .navbar-collapse{
    transition: .6s all ease-in-out;
    height: 0 !important;
}

.btn.btn-light
{
    user-select: none;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid rgb(83, 146, 249);
    color: rgb(83, 146, 249);
    background-color: rgb(255, 255, 255);
    transition: all 0.15s ease-in-out 0s;
    font-weight: 300;
}


.navbar-brand.text-info
{
    color: rgb(0, 0, 0) !important;
    font-weight: 400;
}

.nav-link.text-dark
{
    font-weight: 300;
    margin-right: 8px; 
   
}