img {
    max-width: 100%;
}

.picture-container {
    position: relative;
    color: white;
    justify-content: center;
}


.bigtext {
    font-family: sans-serif;
    position: absolute;
    margin: auto;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: 600;
}

.smalltext {
    font-family: sans-serif;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    font-weight: 500;
}